<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/bg_treasure_background"
    android:minWidth="25px"
    android:minHeight="25px"
    android:gravity="center"
    android:id="@+id/rootLinearLayout">
    <RelativeLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="400dp"
        android:id="@+id/relativeLayout1"
        android:layout_marginLeft="90dp"
        android:layout_marginRight="100dp"
        android:layout_marginTop="70dp">
        <Button
            android:text="@string/previous"
            android:layout_width="100dp"
            android:layout_height="45dp"
            android:id="@+id/btnBack"
            android:background="@drawable/CompleteFlagButton"
            android:layout_marginLeft="100dp"
            android:textColor="@color/white"
            android:layout_marginTop="3dp" />
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@id/btnBack"
            android:id="@+id/linearLayout1"
            android:gravity="center">
            <TextView
                android:text="@string/transferableAmount"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/tVTransferableAmount"
                android:layout_gravity="center_horizontal"
                android:textColor="@color/black"
                android:textSize="65dp"
                android:layout_marginTop="-30dp" />
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:id="@+id/linearLayout5">
                <Button
                    android:text="-"
                    android:layout_width="50dp"
                    android:layout_height="50dp"
                    android:id="@+id/btnDecAmount"
                    android:layout_marginRight="50dp"
                    android:layout_gravity="center_horizontal" />
                <TextView
                    android:text="Loading.."
                    android:layout_width="wrap_content"
                    android:layout_height="100dp"
                    android:id="@+id/TVAmm"
                    android:textColor="@color/black"
                    android:textSize="80dp"
                    android:layout_marginTop="-40dp" />
                <Button
                    android:text="+"
                    android:layout_width="50dp"
                    android:layout_height="50dp"
                    android:id="@+id/btnIncAmount"
                    android:layout_marginLeft="50dp"
                    android:layout_gravity="center_horizontal" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@id/linearLayout1"
            android:id="@+id/linearLayout2"
            android:layout_marginTop="-20dp">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout3"
                android:layout_weight="1"
                android:gravity="center"
                android:layout_marginTop="15dp">
                <TextView
                    android:text="game account"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/tVGameAccount"
                    android:textColor="@color/black"
                    android:layout_marginTop="-20dp"
                    android:textSize="65dp" />
                <TextView
                    android:text="spending capacity"
                    android:textAppearance="?android:attr/textAppearanceLarge"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/tVSpendingCapacity2"
                    android:textColor="@color/black"
                    android:textSize="65dp"
                    android:layout_marginTop="-45dp"
                    android:layout_marginLeft="46dp" />
                <TextView
                    android:text="@string/loading"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/TVGame"
                    android:textColor="@color/black"
                    android:layout_marginTop="-55dp"
                    android:textSize="95dp" />
                <Button
                    android:layout_width="120dp"
                    android:layout_height="50dp"
                    android:id="@+id/btnLeft"
                    android:background="@drawable/game_btn" />
            </LinearLayout>
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout4"
                android:layout_weight="1"
                android:gravity="center"
                android:layout_marginTop="15dp">
                <TextView
                    android:text="creel gold"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/tVCreelAccount"
                    android:textColor="@color/black"
                    android:layout_marginTop="-20dp"
                    android:textSize="65dp" />
                <TextView
                    android:text="spending capacity"
                    android:textAppearance="?android:attr/textAppearanceLarge"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/tVSpendingCapacity"
                    android:textColor="@color/black"
                    android:textSize="65dp"
                    android:layout_marginTop="-45dp"
                    android:layout_marginLeft="55dp" />
                <TextView
                    android:text="@string/loading"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/TVWallet"
                    android:textColor="@color/black"
                    android:layout_marginTop="-55dp"
                    android:textSize="95dp" />
                <Button
                    android:layout_width="120dp"
                    android:layout_height="50dp"
                    android:id="@+id/btnRight"
                    android:background="@drawable/creel_btn" />
            </LinearLayout>
        </LinearLayout>
    </RelativeLayout>
</LinearLayout>