<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="match_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:gravity="right"
    android:id="@+id/rootLinearLayout"
    android:background="@drawable/home_bg2">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="800dp"
        android:layout_height="match_parent"
        android:id="@+id/thirdPatyLayout"
        android:gravity="center_horizontal|left"
        android:background="@drawable/treasure_logo2">
        <Button
            android:id="@+id/creelBtn"
            android:gravity="center"
            android:background="@drawable/creelgold_btn"
            android:layout_width="70dp"
            android:layout_height="60dp"
            android:layout_marginLeft="20dp"
            android:layout_marginTop="3dp" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:id="@+id/linearLayout1"
        android:gravity="center"
        android:layout_marginTop="30dp"
        android:layout_marginBottom="30dp">
        <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="500dp"
            android:layout_height="120dp"
            android:id="@+id/linearLayout2"
            android:background="@drawable/welcome_panel">
            <TextView
                android:text="@string/welcomeguest"
                android:id="@+id/textView1"
                android:textSize="30dp"
                android:textStyle="bold"
                android:paddingBottom="15dp"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/gold"
                android:layout_gravity="bottom"
                android:gravity="center" />
        </LinearLayout>
        <Button
            android:text="@string/start"
            android:layout_width="350dp"
            android:layout_height="100dp"
            android:id="@+id/btnStart"
            android:background="@drawable/treasure_btn"
            android:textStyle="bold"
            android:textSize="30dp"
            android:textColor="#ffffffff" />
        <Button
            android:text="@string/portfolio"
            android:layout_width="350dp"
            android:layout_height="100dp"
            android:id="@+id/btnPorfolio"
            android:background="@drawable/treasure_btn"
            android:textStyle="bold"
            android:textSize="30dp"
            android:textColor="#ffffffff"
            android:visibility="gone" />
        <Button
            android:text="@string/login"
            android:layout_width="350dp"
            android:layout_height="100dp"
            android:id="@+id/btnLogin"
            android:background="@drawable/treasure_btn"
            android:textStyle="bold"
            android:textSize="30dp"
            android:textColor="#ffffffff"
            android:visibility="gone" />
        <Button
            android:text="@string/exit"
            android:layout_width="350dp"
            android:layout_height="100dp"
            android:id="@+id/btnQuit"
            android:background="@drawable/treasure_btn"
            android:textStyle="bold"
            android:textSize="30dp"
            android:textColor="#ffffffff" />
    </LinearLayout>
</LinearLayout>